<div>
  <h1>John B. Goodenough</h1>
</div>

<div>
  <a href='/intro'><img
      src='/images/john.obama.jpg'
      alt='Goodenough with Pres. Obama'
    /></a>
</div>
<div>
  <a href='/intro'><h2>Who is this man?</h2></a>
</div>