<div>
  <h1>Who is John B. Goodenough?</h1>
  <p>
    John B. Goodenough is an American materials scientist. He is famous for key
    developments in lithium battery technologies which have facilitated the
    development of cordless devices as we know them today.
  </p>
</div>
<div id='gadget-img'>
  <a href='newprojects'><img
      src='/images/gadgets.jpg'
      alt='Electronic Gadgets'
    /></a>
</div>
<div>
  <a href='/newprojects'><h3>What is he working on now?</h3></a>
</div>