<h1>What is he working on now?</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto, dolores
  atque architecto molestias, repellendus non repudiandae nesciunt modi veniam,
  iste sapiente provident labore. Illum possimus quia a maiores nemo.
</p>

<div>
  <img src='/images/solid_state_battery.jpg' alt='Solid State Battery' />
</div>

<a href='/'><h3>Home</h3></a>